
<div id="explorer_wrapper">
    <div class="row bg-light border rounded-top" id="explorer_header_container">

    </div>
    <div class="row border rounded-bottom" id="explorer_content_container">

    </div>
</div>