
@model List<InfTeh_test.Models.DataContext.Folder>

<div class="pl-2 text-muted justify-content-center h-100">
    <span>путь: / </span>
    @foreach (var folder in Model)
    {
        <span class="file_path_link" onclick="showFolderContent(@folder.folderid)">@folder.displayname</span><span> /</span>
    }
</div>
