@model int?
<div id="createFolderForm">
    <style>
        #createFolderForm {
            margin: 5px 10px;
        }

            #createFolderForm div {
                width: 100%;
                position: relative;
            }

            #createFolderForm input[type="text"] {
                border: 1px solid black;
                width: 100%;
                display: inline-block
            }

            #createFolderForm button {
                position: absolute;
                float: right;
                top: 3px;
                right: 5px;
                display: inline-block
            }
    </style>
    <div>
        <input id="folderName" type="text" placeholder="Введите название" class="form-control" />
        <button class="btn-sm btn-primary" onclick="createFolder()">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
        </button>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#folderName').bind("enterKey",function(e) {
            createFolder();
        });
        $('#folderName').keyup(function(e){
            if(e.keyCode == 13)
            {
                $(this).trigger("enterKey");
            }
        });
    });
    function createFolder() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("CreateFolder", "Folder")",
            data: {
                name: $('#folderName').val(),
                parent_folderid: '@Model'
            },
            success: function (html) {
                $('#toastContainer').html(html);
                @if (Model == null)
                {
                    <text>loadRootObjects();</text>
                }
                else
                {
                    <text>loadChildrenByFolderID(selectedElement.attr('data-folder-id'));
                        showFolderContent(@Model);
                    </text>
                }
            }
        });
    }
</script>
