@model InfTeh_test.Models.NavigationModel

<div class="row ml-2 mb-2">
    <text>Число папок:</text><span><b>  @Model.Folders.Count()</b></span>
</div>
<div class="row ml-2 mb-2">
    <text>Число файлов:</text><span><b>  @Model.Files.Count()</b></span>
</div>
