@model InfTeh_test.Models.DataContext.File

@if (Model != null)
{
    <div class="container">
        <div class="row">
            <div class="col-12">
                Вы действительно хотите удалить файл
                <b>@(Model.displayname).@Model.FileExtension.displayname</b>?
            </div>
            <hr />

            <div class="justify-content-between col-12">
                <input type="button" onclick="deleteFolderByMode(0)" value="Удалить файл" class="btn btn-danger col-4" />
            </div>
        </div>
    </div>

    <script>
        function deleteFolderByMode(mode) {
            showPreloader();
            $.ajax({
                url: "@Url.Action("DeleteFile", "File")",
                method: "POST",
                data: {
                    fileid: @Model.fileid
                },
                success: function (html) {
                    $('#toastContainer').html(html);
                    loadChildrenByFolderID(@Model.folderid);
                    $('#ModalWindow').modal('hide');
                    hidePreloader();
                }
            });
        }
    </script>
}
else
{
    <h5 class="col-12 text-danger">
        Такая такой файл не найден.
    </h5>
}
