<style>
    ul {
        list-style-type: none !important;
    }
</style>
<script>
    $(document).ready(function () {
        //OpenCookieUl();
        $('ul li a').click(function (e) {
            var parent = this.closest('ul');
            SaveState(parent.id);
        });
        loadRootObjects();
    });
    function loadRootObjects() {
        showPreloader();
        $('#navAccordion').load('@Url.Action("GetChildren","Navigation")', function() {
            hidePreloader();
        });
    }
    function loadChildrenByElement(jsElem) {
        var folderid = jsElem.getAttribute('data-folder-id');

        setPreloader($('#collapse_' + jsElem.id.replace("SubItems_", "")));

        setTimeout(function () {
            $('#collapse_' + folderid).load('@Url.Action("GetChildren","Navigation")?parentFolderid=' + folderid, function () {
            });
        }, 300);
        setNavEventListener();
    }
    function loadChildrenByFolderID(folderid) {
        if (folderid == null) {
            loadRootObjects();
            return;
        }

        setPreloader($('#collapse_' + folderid));

        setTimeout(function () {
            $('#collapse_' + folderid).load('@Url.Action("GetChildren","Navigation")?parentFolderid=' + folderid, function () {
            });
        }, 300);
        setNavEventListener();
    }

</script>

<a class="navbar-brand" href="#">Explorer</a>
<button class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarCollapse">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background: #343a40;">
        <a class="navbar-brand" href="#">Explorer</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto sidenav" id="navAccordion"></ul>
        </div>

        <div class="head-controls d-none d-md-flex">
            <button onclick="CreateFolderForm()"
                    class="nav-link ml-md-auto ml-sm-0">
                Создать папку
            </button>
        </div>
    </nav>
</div>

<script>
    function CreateFolderForm() {
        $('#createFolderForm').remove();
        $.ajax({
            type: "GET",
            url: "@Url.Action("_PartialCreateFolderForm", "Folder")",
            data: {
                parent_folder: getParentFolderID()
            },
            success: function (html) {
                if (selectedElement != null) {
                    selectedElement.next().prepend(html);
                }
                else {
                    $('#navAccordion').prepend('<li>'+html+'</li>');
                }
            }
        });
    }
</script>
