<h4>Приветствую!</h4>
<h6>Это тестовое задание для InfTeh</h6>
<hr />
<style>
    dd a {
        color: #007bff;
    }
</style>
<div class="row">
    <dt class="col-sm-3 text-right">СУБД:</dt>
    <dd class="col-sm-9">MSSQL</dd>
</div>
<div class="row">
    <dt class="col-sm-3 text-right">Платформа:</dt>
    <dd class="col-sm-9">ASP .NET MVC</dd>
</div>
<div class="row">
    <dt class="col-sm-3 text-right">targetFramework:</dt>
    <dd class="col-sm-9">4.7.2</dd>
</div>
<div class="row">
    <dt class="col-sm-3 text-right">Хранение файлов:</dt>
    <dd class="col-sm-9">В двоичном виде в БД</dd>
</div>
<div class="row">
    <dt class="col-sm-3 text-right">Хранение иконок расширений:</dt>
    <dd class="col-sm-9">В виде файлов на сервере</dd>
</div>
<hr />

<div class="row">
    <dt class="col-sm-3 text-right">GitHub:</dt>
    <dd class="col-sm-9"><a target="_blank" href="https://github.com/hamaronooo/InfTeh_test">Ссылка</a></dd>
</div>
<div class="row pl-4 small text-muted">В том числе backup базы данных и DDL query</div>
<hr />

<div class="row">
    <dt class="col-sm-3 text-right">Исполнитель:</dt>
    <dd class="col-sm-9">Кутумов Никита Витальевич</dd>
</div>
<div class="row">
    <dt class="col-sm-3 text-right">Телефон:</dt>
    <dd class="col-sm-9"><a href="tel:89687995380">89687995380</a></dd>
</div>
<div class="row">
    <dt class="col-sm-3 text-right">Альтернативы:</dt>
    <dd class="col-sm-9"><a target="_blank" href="https://t.me/hamaronoo">Telegram</a></dd>
</div>
<div class="row">
    <dt class="col-sm-3 text-right"></dt>
    <dd class="col-sm-9"><a target="_blank" href="mailto:nik_2008@bk.ru">Email</a></dd>
</div>

