/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #d2691e #cfcfcf;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #cfcfcf;
}

*::-webkit-scrollbar-thumb {
    background-color: #d2691e;
    border-radius: 20px;
    border: 3px solid #cfcfcf;
}

.custom_preloader {
    position: absolute;
    z-index: 999998;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #00000099;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    line-height: 3.5rem;
    background-color: #ccc;
}

.navbar-nav, navbar-collapse {
    background: #343a40 !important;
}

.nav-link:hover {
    transition: all 0.4s;
}

.nav-link-collapse:after {
    float: right;
    font-family: 'FontAwesome';
}

.nav-link-show:after {
    float: right;
    font-family: 'FontAwesome';
}

.nav-item ul.nav-second-level {
    padding-left: 0;
}

.nav-item ul.nav-second-level > .nav-item {
    padding-left: 20px;
}

.nav-file {
    margin: 10px;
}

ul {
    list-style-type: none !important;
}

.file-icon {
    height: 25px;
    width: 25px;
    position: relative;
    float: left;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

a {
    color: wheat;
}
    a:hover {
        color: orange;
    }
.head-controls a {
    color: orange;
}

.selectedElement {
    background-color: #989898 !important;
    border-right: 2px solid orange;
    padding: 5px 2px;
    transition: all .3s ease;
}
    .selectedElement > a {
        color: black !important;
    }

#explorer_content_container {
    min-height: 700px;
    color: black;
}
#explorer_content_container a,span,div {
    color: #00000099;
}
#explorer_header_container {
    min-height: 30px;
}
.file_path_link {
    cursor: pointer
}
.file_path_link:hover {
    color: #d2691e;
    text-decoration: underline
}

.hidden-control {
    opacity: 0.5 !important;
    position: absolute;
    float: right;
    top: 3px;
    right: 5px;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    border: none;
}
.hidden-control:hover {
    opacity: 1 !important;
}
li > div:hover {
    background: #444444
}
li > div:hover .hidden-control {
    opacity: 1;
    visibility: visible;
}

.folder_preloader {
    z-index: 999999;
    position: absolute;
    left: 10px;
    transform: scale(0.4)
}

.select2-selection__rendered {
    line-height: 34px !important;
}

.select2-container .select2-selection--single {
    height: 39px !important;
}

.select2-selection__arrow {
    height: 38px !important;
}

@media (min-width: 992px) {
    .sidenav {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 330px !important;
        height: calc(100vh - 3.5rem) !important;
        margin-top: 3.5rem !important;
        box-sizing: border-box !important;
        border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
    }

    .navbar-expand-lg .sidenav {
        flex-direction: column !important;
    }

    .content-wrapper {
        margin-left: 230px !important;
    }

    .footer {
        width: calc(100% - 230px) !important;
        margin-left: 230px !important;
    }
    #explorer_wrapper {
        margin-left: 330px;
    }
}
